* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 375px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
}

/* All header styling  here*/
/* Major styling */

/* Minor styling */


/* All main styling here */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: -60px;
    background-color: hsl(0, 0%, 98%);
}

.reason p,
.landing p,
.articles small,
.articles p {
    color: hsl(233, 8%, 62%);
}

/* Major styling */

/* Minor styling */


/* All Next generation digital banking styling here */
/* Major styling */

/* Minor styling */


/* All Why choose EasyBank styling here */
/* Major styling */

/* Minor styling */


/* All Latest articles styling here */
/* Major styling */

.articles {
    width: 100%;
    padding: 90px 10% 80px 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.articles-div {
    display: flex;
    gap: 30px;
}
 

/* Minor styling */


/* All footer styling here */
/* Major styling */

/* Minor styling */



@media (min-width: 1440px) {
    .container {
        width: 1440px;
    }

    .main {
        background-image: url(./images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-position: 700px -300px;
    }

    /* All media query header styling  here*/
    /* Major styling */

    /* Minor styling */


    /* All media query main styling here */
    /* Major styling */

    /* Minor styling */


    /* All media query Next generation digital banking styling here */
    /* Major styling */

    /* Minor styling */

    
    /* All media query Why choose EasyBank styling here */
    /* Major styling */

    /* Minor styling */

    
    /* All media query Latest articles styling here */
    /* Major styling */

    /* Minor styling */

    
    /* All media query footer styling here */
    /* Major styling */

    /* Minor styling */
}