* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 375px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
}

/* All header styling  here*/
/* Major styling */

/* Minor styling */


/* All main styling here */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: -60px;
    background-color: hsl(0, 0%, 98%);
}

.reason p,
.landing p,
.articles small,
.articles p {
    color: hsl(233, 8%, 62%);
}

/* Major styling */

/* Minor styling */


/* All Next generation digital banking styling here */
/* Major styling */

/* Minor styling */


/* All Why choose EasyBank styling here */
/* Major styling */

/* Minor styling */


/* All Latest articles styling here */
/* Major styling */

/* Minor styling */


/* All footer styling here */
/* Major styling */

/* Minor styling */



@media (min-width: 1440px) {
    .container {
        width: 1440px;
    }

    .main {
        background-image: url(./images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-position: 700px -300px;
    }

    /* All media query header styling  here*/
    /* Major styling */

    /* Minor styling */


    /* All media query main styling here */
    
    /* Major styling */

    /* Minor styling */


    /* All media query Next generation digital banking styling here */
    .landing {
        width: 100%;
        padding: 0 0 0 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .mockups {
        order: 1;
        background: url(./images/image-mockups.png) no-repeat bottom;
        background-size: cover;
        height: 700px;
        width: 980px;
        z-index: 1;
        background-position-x: 115px;
    }

    .landing-contents {
        padding-bottom: 140px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

Minor styling
    .landing-text {
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        text-align: left;
        line-height: 1.8;
        margin-bottom: 30px;
        display: inline-block;
        width: 60%;
    }

    h1 {
        display: inline-block;
        width: 50%;
        text-align: left;
    }
    /* Major styling */

    /* Minor styling */

    
    /* All media query Why choose EasyBank styling here */
    
    /* Major styling */

    /* Minor styling */

    
    /* All media query Latest articles styling here */
    /* Major styling */

    /* Minor styling */

    
    /* All media query footer styling here */
    /* Major styling */

    /* Minor styling */
}