* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 375px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
}

/* All header styling  here*/
/* Major styling */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}
/* Minor styling */
.top-menu-list,
.top-invite-link {
    display: none;
}

/* All main styling here */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: -60px;
    background-color: hsl(0, 0%, 98%);
}

.reason p,
.landing p,
.articles small,
.articles p {
    color: hsl(233, 8%, 62%);
}

/* Major styling */

/* Minor styling */


/* All Next generation digital banking styling here */
/* Major styling */

/* Minor styling */


/* All Why choose EasyBank styling here */
/* Major styling */

/* Minor styling */


/* All Latest articles styling here */
/* Major styling */

/* Minor styling */


/* All footer styling here */
/* Major styling */
.footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    font-family: 'Public Sans', sans-serif;
    }
    
    .logo-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
    }
    
    .footer-bottom-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    }
    
/* Minor styling */
.social-media-icons {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    }
    
    .bottom-menu {
    list-style-type: none;
    color: hsl(0, 0%, 98%);
    text-align: center;
    line-height: 2;
    }
    
    .bottom-menu a {
    text-decoration: none;
    color: white;
    }
    
    .footer-invite {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    display: inline-block;
    text-align: center;
    padding: 12px 30px;
    border-radius: 30px;
    }
    
    .copyright-text {
    color: hsl(233, 8%, 62%);
    }
    
    .footer-invite > a {
    text-decoration: none;
    color: white;
    }
    


@media (min-width: 1440px) {
    .container {
        width: 1440px;
    }

    .main {
        background-image: url(./images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-position: 700px -300px;
    }

    /* All media query header styling  here*/
    /* Major styling */
    .header {
        padding: 15px 10%;
        align-items: center;
    }

    /* Minor styling */
    .top-menu-list {
        display: flex;
        gap: 30px;
        list-style-type: none;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
    }

.top-menu-list a {
        text-decoration: none;
        color: hsl(233, 8%, 62%);
    }

    .top-invite-link {
        display: inline-block;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        text-align: center;
        padding: 12px 30px;
        border-radius: 30px;
    }

    .top-invite-link > a {
        text-decoration: none;
        color: white;
    }

    .hamburger {
        display: none;
    }

    /* All media query main styling here */
    .landing {
        width: 100%;
        padding: 0 0 0 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .mockups {
        order: 1;
        background: url(./images/image-mockups.png) no-repeat bottom;
        background-size: cover;
        height: 700px;
        width: 980px;
        z-index: 1;
        background-position-x: 115px;
    }

    .landing-contents {
        padding-bottom: 140px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    /* Minor styling */
    .landing-text {
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        text-align: left;
        line-height: 1.8;
        margin-bottom: 30px;
        display: inline-block;
        width: 60%;
    }

    h1 {
        display: inline-block;
        width: 50%;
        text-align: left;
    }
    /* Major styling */

    /* Minor styling */


    /* All media query Next generation digital banking styling here */
    /* Major styling */

    /* Minor styling */

    
    /* All media query Why choose EasyBank styling here */
    /* Major styling */

    /* Minor styling */

    
    /* All media query Latest articles styling here */
    /* Major styling */

    /* Minor styling */

    
    /* All media query footer styling here */
    /* Major styling */

    /* Minor styling */
    /* pseudo styling */
    .top-invite-anchor:hover,
    .top-invite-link:hover,
    .footer-invite:hover {
        opacity: 50%;
    }

 .top-menu-list a:hover {
        padding: 24px 0;
        border-bottom: 4px hsl(136, 65%, 51%) solid;
        color: black;
    }

 .articles-div a:hover {
        color: hsl(136, 65%, 51%);
    }
    .bottom-menu a:hover {
        color: hsl(136, 65%, 51%);
    }
    .social-media-icons path:hover{
        fill: hsl(136, 65%, 51%);
    }

}